{% extends "modelo.html" %}

{% block title %}Pedido{% endblock %}

{% block content %}
<h1>Lista Pedidos</h1>
<p class="important">Pedidos</p>

<div class="main-panel">
    <div class="content-wrapper">
        <form class="form-sample">
            <div class="row">

                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h2>Pedido</h2>
                            <hr />

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>Número do pedido</label>
                                            <input type="text" class="form-control" readonly placeholder="Número do pedido" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>Código do cliente</label>
                                            <input type="text" class="form-control" readonly placeholder="Código do cliente" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Nome do cliente</label>
                                            <input type="text" class="form-control" placeholder="Nome do cliente" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>Data/Hora</label>
                                            <input type="text" class="form-control" placeholder="Data/Hora" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>Telefone</label>
                                            <input type="text" class="form-control" placeholder="Telefone" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Email</label>
                                            <input type="email" class="form-control" placeholder="Email" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>Estado</label>
                                            <select class="form-control select-estado">
                                                <option value="">Estado</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>Cidade</label>
                                            <select class="form-control select-cidade">
                                                <option value="">Cidade</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Endereço</label>
                                            <input type="text" class="form-control" placeholder="Rua/Avenida.." />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Bairro</label>
                                            <input type="text" class="form-control" placeholder="Bairro" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>CEP</label>
                                            <input type="text" class="form-control" placeholder="CEP" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Número</label>
                                            <input type="text" class="form-control" placeholder="Número" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Descrição</label>
                                            <textarea class="form-control" placeholder="Descrição"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4>Adicionar produto</h4>
                            <hr />

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>Código do produto</label>
                                            <input type="text" class="form-control" placeholder="Código do produto"
                                                disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Nome do produto</label>
                                            <input type="text" class="form-control" placeholder="Nome do produto" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>Preço</label>
                                            <input type="text" class="form-control" placeholder="Preço" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>Quantidade</label>
                                            <input type="text" class="form-control" placeholder="Quantidade" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>Total</label>
                                            <input type="text" class="form-control" placeholder="Total" />
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                    <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <label>Observação</label>
                                                    <input type="text" class="form-control" placeholder="Observação" />
                                                </div>
                                            </div>
                                        </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-info mr-2" style="float: right;">Adicionar produto</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                
            </div>

           
        </form>
    </div>
    
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Pedidos</h4>
                                <p class="card-description">
                                  Lista de Pedidos
                                </p>
                                <div class="table-responsive">
                                    <table class="table table-hover table-dark">
                                        <thead>
                                          <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Cliente</th>
                                            <th scope="col">Endereço</th>
                                            <th scope="col">Numero</th>
                                            <th scope="col">Observação</th>
                                            <th scope="col">CEP</th>
                                            <th scope="col">Bairro</th>
                                            <th scope="col">Cidade</th>
                                            <th scope="col">Estado</th>
                                            <th scope="col">Telefone</th>
                                            <th scope="col">Produtos</th>
    
    
    
    
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>123</td>
                                            <td>Biel</td>
                                            <td>@abc bolinhas</td>
                                            <td>bolinhas 12</td>
                                            <td>@abc bolinhas</td>
                                            <td>89989-323</td>
                                            <td>bolinhas</td>
                                            <td>SC </td>
                                            <td>49 9999-9999</td>
                                            <td>biel@bolinhas.com</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>123</td>
                                            <td>Biel</td>
                                            <td>@abc bolinhas</td>
                                            <td>bolinhas 12</td>
                                            <td>@abc bolinhas</td>
                                            <td>89989-323</td>
                                            <td>bolinhas</td>
                                            <td>SC </td>
                                            <td>49 9999-9999</td>
                                            <td>biel@bolinhas.com</td>
                                          </tr>
                                          
                                        </tbody>
                                      </table>
                                </div>
                              </div>
                            </div>
                            
                          </div>
</div>
{% endblock %}