
   .form-control {
        
        display: inline-block;
        width: auto;
        

        margin-left: auto;
        margin-right: auto 
    }
    
 

 body {
    background-color: PaleTurquoise;
  }