{% extends "modelo.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}
<h1>Cliente</h1>
<p class="important">Cliente</p>

<form action="{{ url_for('resultado') }}" method="post">

    <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputCity">Codígo</label>
          <input type="text" class="form-control col-md-12" name="cod" value="3123" id="id" readonly>
        </div>
        <div class="form-group col-md-2">
            <label for="inputCity">Telefone: </label>
            <input type="text" class="form-control col-md-12" name="tel"  id="tel" >
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity">Nome: </label>
            <input type="text" class="form-control col-md-12" name="nome"  id="tel" >
          </div>
        
      </div>
  
  <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Senha</label>
        <input type="password" class="form-control" id="inputPassword4" name="senha" placeholder="Senha">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Endereço</label>
          <input type="text" class="form-control" id="inputEmail4" name="ender" placeholder="Endereço">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Número</label>
          <input type="text" class="form-control" id="inputPassword4" name="nur" placeholder="Numero">
        </div>
      </div>
    <div class="form-group">
      <label for="inputAddress">Observações</label>
      <input type="text" class="form-control col-md-12" id="inputAddress" name="obs" placeholder="XXXXxXXXX">
      
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="inputCity">Bairro</label>
        <input type="text" class="form-control col-md-12" name="bairro" id="inputCity">
      </div>
      <div class="form-group col-md-2">
          <label for="inputCity">Cidade</label>
          <input type="text" class="form-control col-md-12" name="cidade" id="inputCity">
        </div>
      <div class="form-group col-md-2">
        <label for="inputEstado">Estado</label>
        <select id="inputEstado" name="estado" class="form-control col-md-8">
          <option selected>Escolher...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputCEP">CEP :</label>
        <input type="text" class="form-control col-md-" name="cep" id="inputCEP">
      </div>
    </div>
    <div class="form-group">
      
    </div>
    <button type="submit" class="btn btn-primary mr-2">Enviar</button>
                    <button class="btn btn-light">Cancelar</button>
  </form>
{% endblock %}