{% extends "modelo.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}
<h1>Clientess</h1>
<p class="important">Lista Cliente</p>
<a href="{{ url_for('cliente.cad') }}"><button type="submit" class="btn btn-primary mr-2">Novo Cliente</button></a>

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        
                    <!--Lista de Avisos-->
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <h4 class="card-title">Clientes</h4>
                            <p class="card-description">
                              Lista de Clientes
                            </p>
                            <div class="table-responsive">
                                <table class="table table-hover table-dark">
                                    <thead>
                                      <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Endereço</th>
                                        <th scope="col">Numero</th>
                                        <th scope="col">Observação</th>
                                        <th scope="col">CEP</th>
                                        <th scope="col">Bairro</th>
                                        <th scope="col">Cidade</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Telefone</th>
                                        <th scope="col">Email</th>




                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>123</td>
                                        <td>Biel</td>
                                        <td>@abc bolinhas</td>
                                        <td>bolinhas 12/td>
                                        <td>@abc bolinhas</td>
                                        <td>89989-323</td>
                                        <td>bolinhas</td>
                                        <td>SC </td>
                                        <td>49 9999-9999<</td>
                                        <td>biel@bolinhas.com</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>123</td>
                                        <td>Biel</td>
                                        <td>@abc bolinhas</td>
                                        <td>bolinhas 12/td>
                                        <td>@abc bolinhas</td>
                                        <td>89989-323</td>
                                        <td>bolinhas</td>
                                        <td>SC </td>
                                        <td>49 9999-9999<</td>
                                        <td>biel@bolinhas.com</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>123</td>
                                        <td>Biel</td>
                                        <td>@abc bolinhas</td>
                                        <td>bolinhas 12/td>
                                        <td>@abc bolinhas</td>
                                        <td>89989-323</td>
                                        <td>bolinhas</td>
                                        <td>SC </td>
                                        <td>49 9999-9999<</td>
                                        <td>biel@bolinhas.com</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      
                     

      </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
      </div>
    </footer>
    <!-- partial -->
  </div>
{% endblock %}