{% extends "modelo.html" %}

{% block title %}Produto{% endblock %}

{% block content %}
<h1>Produto</h1>
<p class="important">Produto</p>

<form>

        <div class="form-row">
            <div class="form-group col-md-2">
              <label for="inputCity">Codígo</label>
              <input type="text" class="form-control col-md-12" value="3123" id="id" readonly>
            </div>
                        
          </div>
          <div class="form-group">
                <label for="inputAddress">Descrição do Produto</label>
                <input type="text" class="form-control col-md-12" id="inputAddress" placeholder="Descrição">
                
              </div>
      
      <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Valor</label>
            <input type="email" class="form-control col-md-6" id="inputEmail4" placeholder="Email">
          </div>
          
        </div>
        <div class="form-group">
                <label>Upload da Imagem</label>
               
                <div class="input-group col-sm-3">
                    
                  <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                  <span class="input-group-append">
                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                  </span>
                  
                </div>
              </div>
        
        
        
        <div class="form-group">
          
        </div>
        <button type="submit" class="btn btn-primary mr-2">Enviar</button>
                        <button class="btn btn-light">Cancelar</button>
      </form>

{% endblock %}