{% extends "modelo.html" %}

{% block title %}Lista Produtos{% endblock %}

{% block content %}
<h1>Lista Produtos</h1>
<p class="important">Produto</p>

<a href="{{ url_for('produto.cad') }}"><button type="submit" class="btn btn-primary mr-2">Novo Produto</button></a>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <!--Lista de Avisos-->
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Clientes</h4>
                        <p class="card-description">
                            Lista de Clientes
                        </p>
                        <div class="table-responsive">
                            <table class="table table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Descrição</th>
                                        <th scope="col">Preço</th>
                                        <th scope="col">Imagem</th>





                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                        <td>123</td>
                                        <td>Caderno</td>
                                        <td>RS25,00</td>
                                        <td></td>


                                    </tr>
                                    
                                    <tr>
                                            
                                            <td>123</td>
                                            <td>Caderno</td>
                                            <td>RS25,00</td>
                                            <td></td>
    
    
                                        </tr>
                                    <tr>
                                            
                                            <td>123</td>
                                            <td>Caderno</td>
                                            <td>RS25,00</td>
                                            <td></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a
                    href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                    class="mdi mdi-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>

{% endblock %}