<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.1.3/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">




</head>

<body>
  <div class="container">



    <h2 style="text-align: center;">Tela de Login</h2>

    <form action="" method="POST" novalidate>
      {{ form.csrf_token }}



      <div class="row">

        <div class="form-group col-md-6">
          <label for="exampleInputEmail1" class="form form-group col-md-12">User</label>
          {{ form.email }}
          {% if form.email.errors %}
          {% for erro in form.email.errors %}
          {{ erro }}
          {% endfor %}
          {% endif %}

        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6" >
          <label for="exampleInputPassword1" class="form-group col-md-12">Password</label>
          {{ form.password }}
          {% if form.email.errors %}
          {% for erro in form.password.errors %}
          {{ erro }}
          {% endfor %}
          {% endif %}
        </div>
      </div>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <div class="form-group form-check col-sm-6">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label col-sm-6" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary col-sm-2">Login</button>


    </form>
    {% if request.args.get('falhaSessao') == '1': %}
    <div class="row">
      <div class="col col-12">
        <div class="alert alert-danger" role="alert">
          Falha de Sessão! Realize seu login!
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <script src="{{ url_for('static',filename='js/jquery-3.4.1.mim.js') }}"></script>
  <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static',filename='bootstrap-4.1.3/js/bootstrap.min.js') }}"></script>
</body>

</html>