{% extends "modelo.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}
<h1>Homeeeee</h1>
<p class="important">Home</p>

{% if 'usuario' in session %}

Bem-vindo <b>{{ session['usuario'] }}</b>

{% endif %}
   
{% endblock %}