<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - AbcBolinhas</title>
    <style type="text/css">
        .important {
            color: #6495ED;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.1.3/css/bootstrap.min.css') }}">
    
    <script type="text/javascript">

      var count = new Number();
      var count = 60;
    
      function start(){
    
        if ((count - 1) >= 0){
          count -= 1;
          if (count == 0) {
            count = "Atualizado";
          }else if(count < 10){
            count = "0"+count;
          }
          tempo.innerText=count;
          setTimeout('start();', 100);
    
        }
      }
    
      </script>
    
    
    {% endblock %}
</head>

<body  onload="start();">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('home.inicial') }}">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('cliente.clientes') }}">Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('produto.produtos') }}">Produto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('pedido.pedidos') }}">Pedido</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('login.logoff') }}">logoff</a>
                  </li>
              </ul>
              
            </div>
            <div id="tempo" ></div>
          </nav>
        {% block content %}{% endblock %}
        
    </div>
    <script src="{{ url_for('static',filename='js/jquery-3.4.1.mim.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap-4.1.3/js/bootstrap.min.js') }}"></script>
</body>

</html>